<form method="get" action="/deals">
	<input type="submit" value="All Deals">
</form><br>
<ul>
	<li>Title: <%= @deal.title%></li>
	<li>Rating: <%= @deal.rating%> deal</li>
	<li>Link: <a href="<%= @deal.link%>">Visite this link</a></li>
	<li>Contant: <%= @deal.content%></li>
	<li>Experation: <%= @deal.experation_date%></li>
</ul>
<% if @deal.category %>
  Category: <a href="/categories/<%= @deal.category.slug%>"><%= @deal.category.name%></a><br>
<% end%>

<form method="get" action="/deals/<%= @deal.id%>/edit">
	<input type="submit" value="Update Deal">
</form> 

