<form method="get" action="/deals">
	<input type="submit" value="All Deals">
</form><br>
<ul>
	<li>1)<%= @deal.title%></li>
	<li>2)<%= @deal.rating%></li>
	<li>3)<%= @deal.link%></li>
	<li>4)<%= @deal.content%></li>
	<li>5)<%= @deal.experation_date%></li>
</ul>
<% if @deal.category %>
  <a href="/categories/<%= @deal.category.slug%>"><%= @deal.category.name%></a>
<% end%>

<form method="get" action="/deals/<%= @deal.id%>/edit">
	<input type="submit" value="Update Deal">
</form> 

